%div.modal#modalAssignmentsNew{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline New Assignment - 
        %h3#sectionNameHeader.inline

      %div.modal-body
        = form_tag instructor_section_assignment_create_path(:template => "instructor/js/assignment_create.js.erb"), remote:true do 
          %div#formNameDiv
            = hidden_field_tag 'sectionId'

            = label_tag "Week:"
            = select_tag "week", options_for_select('1'..'10', '1')
            %br

            = label_tag "Name:"
            = text_field_tag "name"
            /= select_tag "type", options_for_select(%w[Homework Lab])
            %p
            = label_tag "Due Date:"
            /= datetime_select "due_time", nil
            = text_field_tag 'dueDatePicker', nil
            %p

            %p
            = label_tag "Description:"
            %br
            = text_area_tag "description", nil, :class => 'form-control'
            
            / = label_tag "Name:", nil, :class => 'control-label'
            /= text_field_tag "programName", nil, :class => 'form-control'
            %span.help-block#formNameHelp
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close