
- if cnt.odd?
  - theclass = "odd-row"
- else
  - theclass = "even-row"

/ %tr{ class: cycle("odd-row", "even-row")}
%tr{ id: "section-assignment-table-row-#{section_assignment.id}", class: theclass}
  %td= section_assignment.week
  %td= section_assignment.name
  %td= section_assignment.description
  %td= section_assignment.datetime_due
  %td
  %td
  %td= link_to 'del', instructor_section_assignment_destroy_path(section_assignment: section_assignment.id), remote: true