%p
%div{ :id => "programs-#{program.name}-div"}
  %b= program.name
  = link_to 'del', instructor_program_destroy_path(:program => program), remote: true
  %p
  %div.indent
    Sections:
    = link_to 'new', "#myModalSectionsNew", :data => {:toggle=>"modal"}, :onclick => "$('#programNameHeader').html('#{program.name}'); $('#myModalSectionsNew').find('#programId').val('#{program.id}');"

    %div.indent{ :id => "#{program.name}-sections-div"}
      - program.sections.each do |section|
        = render partial: 'instructor/section_row', locals: {section: section}

  %p
  %div.indent
    Students:
    = link_to 'new', "#modalStudentsAdd", :data => {:toggle=>"modal"}, :onclick => "$('#modalProgramName').html('#{program.name}'); $('#modalStudentsAdd').find('#programId').val('#{program.id}');"
    %div.indent{:id => "#{program.name}-students-div"}
      - program.program_users.where(role: 3).each do |program_user|
        = render partial: 'instructor/student_row', locals: {program_user: program_user}

  %p
  %div.indent
    Assistants:
    = link_to 'new', "#modalAssistantsAdd", :data => {:toggle=>"modal"}, :onclick => "$('#modalAssistantsAdd').find('#modalProgramName').html('#{program.name}'); $('#modalAssistantsAdd').find('#programId').val('#{program.id}');"
    %div.indent{:id => "#{program.name}-assistants-div"}
      - program.program_users.where(role: 2).each do |program_user|
        = render partial: 'instructor/assistant_row', locals: {program_user: program_user}