= render partial: '/instructor/modals/modal_programs_new'
= render partial: '/instructor/modals/modal_sections_new'
= render partial: '/instructor/modals/modal_students_new'
= render partial: '/instructor/modals/modal_assignments_new'

%h2.inline= @user.name
= link_to 'sign out', destroy_user_session_path, :method => :delete
%hr

%span.large Programs:
= link_to 'new', "#modalProgramsNew", :data => {:toggle=>"modal"}

%div.indent#programs-div
  - @programs.each do |program|
    = render partial: 'program_row', locals: {program: program}
